$(document).ready(function(){

  var likeBtn = $('a#<%= @post.id %>');

  if (likeBtn.hasClass("liked")) {
    likeBtn.html("<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span> Like");
    likeBtn.toggleClass("liked");
  }
  else {
    likeBtn.html("<span class='glyphicon glyphicon-thumbs-down' aria-hidden='true'></span> Unlike");
    likeBtn.toggleClass("liked");
  }

});